// 🎨 Colores
$color-bg: #222121;
$color-light: #dfdddd;
$color-danger: #ff0000;
$color-accent: #11e711;

// 🌈 Gradientes
$gradient-header: linear-gradient(90deg, #ac0f0f, #8b0c0c);
$gradient-footer: linear-gradient(90deg, #720505, #510303);

// 🖋 Fuentes
$font-main: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
