/*PreEntrega1 | Muñoz*/

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #222121;
    color: #dfdddd;
    line-height: 1.5;
}

/*header*/
.encabezado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ac0f0f;
    border-bottom: 5px solid #00070a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

header .logo-inicio {
    width: 160px;
    height: auto;
}

.linkinicio {
    list-style: none;
    display: flex;
    gap: 12px;
}

.linkinicio li {
    padding: 5px 10px;
    border-radius: 5px;
}

.linkinicio li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

main {
    margin-top: 140px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 0 15px;
    justify-items: center;
}

section {
    width: 100%;
    max-width: 1200px;
    background-color: #ac0f0f;
    border: 4px solid #00070a;
    padding: 20px;
    display: grid;
    gap: 15px;
    justify-items: center;
}
section .fercho-container {
    background-color: #222121;
}

h1 {
    font-size: 2rem;
    color: #ff0000;
    text-align: center;
}

h2 {
    font-size: 1.7rem;
    color: #ff0000;
    text-align: center;
}

h3 {
    font-size: 1.4rem;
    color: #ff0000;
    text-align: center;
}

p {
    font-size: 1rem;
    color: #dfdddd;
    text-align: center;
}

.joystick {
    font-size: 4rem;
}

.fercho-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none
}

.fercho-container h3 {
    color: #dfdddd;
    text-align: center;
    font-size: 1.2rem;
}

.fercho-container .fercho {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16/9;
    border: none;
}

/* formulario */
.formulario {
    width: 100%;
    max-width: 500px;
    display: grid;
    gap: 10px;
    background-color: #720909;
    padding: 20px;
    border: 4px solid #00070a;
}

.formulario label {
    font-weight: bold;
}

.formulario input,
.formulario textarea {
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.guardar,
.cancelar {
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.guardar {
    background-color: #11e711;
}

.cancelar {
    background-color: #ff0000;
}

.formulario .botones {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.logos-finales {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 15px;
    justify-items: center;
}

/*imágenes*/

.logo-final-home {
    width: 80px;
    height: auto;
}

.redes {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.redes a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.redes a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

/*fin de página*/
footer {
    background-color: #720505;
    padding: 20px;
    text-align: center;
    color: #fff;
}

/*media*/
@media(min-width: 768px) {
    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.2rem;
    }

    .joystick {
        font-size: 5rem;
    }

    .fercho-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1024px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.4rem;
    }

    .joystick {
        font-size: 6rem;
    }

    .fercho-container {
        grid-template-columns: 1fr 2fr;
    }
}